/* global */
body {
    background-color: #f1f2f6;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
a,
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* header */
#searchForm button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: none !important;
}
#searchForm input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none !important;
}

/* result section  */
#resultSection .card {
    border-radius: 20px;
    background: #f1f2f6;
    box-shadow: 8px 8px 16px #d9dadd, -8px -8px 16px #ffffff;
    border: transparent;
}
.brand_name {
    cursor: pointer;
}
.show_more {
    cursor: pointer;
}

/* showSingleData */
.showSingleData {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.459); */
    cursor: pointer;
    display: grid;
    place-content: center;
    padding: 20px;
    transition: .5s linear;

    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.showSingleData .card {
    transition: .5s linear;
    padding: 30px 20px;
    overflow-y: scroll;
    cursor: auto;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: initial;
}
.showSingleData .card .close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-color: rgba(9, 9, 9, 0.473);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.showSingleData img {
    width: 70%;
    margin: auto;
}

.featureList {
    list-style: none;
}

.featureList li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    padding-left: 20px;
    padding: 5px 0;
}
.featureList li.featerHead {
    font-weight: bold;
    padding-left: 0;
}
.featureList li.featerHead >b {
    grid-column: 1 / span 2
}

.featureList li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.541);
}

@media (max-width: 768px) {
    .showSingleData .card {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .showSingleData img {
        width: 100%;
    }
}
